<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Data Source-->
    <bean id="dataSourceProvider" class="ua.com.goit.kyrychok.dao.database.datasource_provider.H2DataSourceProvider"
          init-method="init">
        <property name="url"
                  value="jdbc:h2:G:\Software\apache-tomcat-8.0.24\webapps\xxx\WEB-INF\classes\database\kickstarter.db"/>
        <property name="userName" value="sa"/>
        <property name="userPassword" value=""/>
    </bean>

    <!--SQL Providers-->
    <bean id="rewardSqlProvider" class="ua.com.goit.kyrychok.dao.database.sql_provider.H2RewardSqlProvider"/>
    <bean id="categorySqlProvider" class="ua.com.goit.kyrychok.dao.database.sql_provider.H2CategorySqlProvider"/>
    <bean id="faqSqlProvider" class="ua.com.goit.kyrychok.dao.database.sql_provider.H2FaqSqlProvider"/>
    <bean id="projectEventSqlProvider"
          class="ua.com.goit.kyrychok.dao.database.sql_provider.H2ProjectEventSqlProvider"/>
    <bean id="projectSqlProvider" class="ua.com.goit.kyrychok.dao.database.sql_provider.H2ProjectSqlProvider"/>

    <!--DAO-->
    <bean id="rewardDao" class="ua.com.goit.kyrychok.dao.database.DbRewardDao">
        <constructor-arg name="dbDataSourceProvider" ref="dataSourceProvider"/>
        <constructor-arg name="sqlProvider" ref="rewardSqlProvider"/>
    </bean>
    <bean id="faqDao" class="ua.com.goit.kyrychok.dao.database.DbFaqDao">
        <constructor-arg name="dbDataSourceProvider" ref="dataSourceProvider"/>
        <constructor-arg name="sqlProvider" ref="faqSqlProvider"/>
    </bean>
    <bean id="projectEventDao" class="ua.com.goit.kyrychok.dao.database.DbProjectEventDao">
        <constructor-arg name="sqlProvider" ref="projectEventSqlProvider"/>
    </bean>
    <bean id="projectDao" class="ua.com.goit.kyrychok.dao.database.DbProjectDao">
        <constructor-arg name="dbDataSourceProvider" ref="dataSourceProvider"/>
        <constructor-arg name="dbFaqDao" ref="faqDao"/>
        <constructor-arg name="dbRewardDao" ref="rewardDao"/>
        <constructor-arg name="dbProjectEventDao" ref="projectEventDao"/>
        <constructor-arg name="sqlProvider" ref="projectSqlProvider"/>
    </bean>
    <bean id="categoryDao" class="ua.com.goit.kyrychok.dao.database.DbCategoryDao">
        <constructor-arg name="dbDataSourceProvider" ref="dataSourceProvider"/>
        <constructor-arg name="dbProjectDao" ref="projectDao"/>
        <constructor-arg name="sqlProvider" ref="categorySqlProvider"/>
    </bean>

    <!--Controllers-->
    <bean id="categoryController" class="ua.com.goit.kyrychok.controller.CategoryController">
        <constructor-arg name="categoryDao" ref="categoryDao"/>
    </bean>
    <bean id="projectController" class="ua.com.goit.kyrychok.controller.ProjectController">
        <constructor-arg name="projectDao" ref="projectDao"/>
        <constructor-arg name="rewardDao" ref="rewardDao"/>
    </bean>
    <bean id="rewardController" class="ua.com.goit.kyrychok.controller.RewardController">
        <constructor-arg name="rewardDao" ref="rewardDao"/>
    </bean>
</beans>